<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.cktext_area field.attribute, cols: 40, ckeditor: {uiColor: '#2a94d6', toolbar: 'mini'}, class: "ckeditor" %>
</div>
