- content_for(:title) { 'Sign in' }

h2 Sign up

button class="ui botton" onclick="window.location.href='https://id.nctu.edu.tw/o/authorize/?client_id=HkrBkhvzPhOBzrjq90gEPfsw4uMbMVT9nQlEqq7U&response_type=code&scope=profile%20name'"
  | NCTU oauth

