.popout 
  position: fixed
  width: 100%
  text-align: center
  top: 0
  
.body-container
  @media #{$big-device}
    margin-top: 60px
  @media #{$mid-device}
    margin-top: 60px
  @media #{$small-device}
    margin-top: 56px
  width: 100%
  position: relative
  display: flex
  justify-content: center
  align-items: flex-start
  flex-flow: row wrap

h1
  font-size: 24px
  margin-right: 24px
  font-weight: 120
  margin-bottom: 11px
  margin-top: 11px

hr
  width: 100%
  border: 0
  border-top: 1px solid $basic-black
  margin-top: 0px
  padding: 0


