.user-form
  margin: 30px 0
  display: flex
  width: 95%
  max-width: 1200px
  flex-flow: row wrap
  justify-content: flex-start
  align-items: flex-start

.front-user-container
  margin: 30px 0
  display: flex
  width: 95%
  max-width: 1200px
  flex-flow: row wrap
  justify-content: space-around
  align-items: flex-start

.front-user-index
  width: 160px
  @media #{$big-device}
    display: flex
  @media #{$mid-device}
    display: flex
  @media #{$small-device}
    display: none
  flex-flow: row wrap
  justify-content: center
  align-items: flex-start
  border: 1px solid $basic-black
  border-radius: 20px

  .item
    font-size: 20px
    padding: 8px 0
    line-height: 42px
    width: 100%
    position: relative
    display: flex
    justify-content: center
    align-items: flex-start
    text-align: center
    text-decoration: none
    color: $basic-black

    .arrow
      position: absolute
      font-size: 20px
      line-height: 36px
      top: 9px
      left: 15px
      display: none
      transition: all 300ms ease-in-out

    &:hover
      .arrow
        display: block

  .current
    background-color: $basic-blue


.front-user-content
  display: flex
  @media #{$big-device}
    width: 80%
  @media #{$mid-device}
    width: 75%
  @media #{$small-device}
    width: 100%
  flex-flow: row wrap
  justify-content: flex-start
  align-items: flex-start
