@import "semantic-ui"
body 
  font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif
  padding: 20px
  justify-content: center
  align-items: flex-start
  flex-flow: row wrap
  width: 100%
  display: flex

.outer-container
  width: 95%
  max-width: 1250px
  display: block
  position: relative

#wide
  @media screen and (min-width: 768px)
    display: inline-block
  @media screen and (max-width: 767px)
    display: none

#narrow
  @media screen and (min-width: 768px)
    display: none
  @media screen and (max-width: 767px)
    display: flex
